@{
    ViewData["Title"] = "About";
}
<h2>¿Qué es esto?</h2>

<p>Es un pequeño proyecto basado en la idea de 
    <a href="https://112.international/russia/bureaucracy-to-face-russia-without-fools-website-31583.html"><em>Russia Without Fools</em></a>. </p>
<blockquote>
    Amigos, cada día nos topamos con leyes y estándares ridiculos, decisiones lejos de ser logicas y regulaciones complejas y restricciones sin una explicaciones. Y nosotros personalmente les traemos una oportunidad real para encontrar y destruir ridiculeses especificas.
</blockquote>
<p>Mostrando toda la burocracia compleja, las construcciones y gastos sin sentido que hace su gobierno.</p>
<p>Aquí en México, en plena cuarta transformación hay muchas cosas pendientes por hacer. Y te ofrecemos la oportunidad de alzar la voz a todo mundo sobre los problemas de gobierno que encuentras en tu vida diaria.</p>
