@{
    ViewData["Title"] = "Contacto";
}
<h2>Contacto</h2>
<p>Este proyecto es <em>software libre</em> y puedes explorarlo en <a href="">Github</a>. Tenemos una licencia 
    <a href="https://opensource.org/licenses/ms-pl.html">MS-PL</a> por lo que eres bienvenido a colaborar con nosotros a mejorar o
    incluso crear un fork y subir tu versión mejorada a un servidor diferente.
</p>

<p>Si tienes alguna duda, puedes ir a nuestra pagina en Github y abrir un <em>issue</em> o enviarme un correo.</p>